<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Easy Wake-Up</title>
  <meta name="description" content="This is my HTML5 boilerplate.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
  <link rel="manifest" href="../static/img/site.webmanifest">
  <link rel="mask-icon" href="../static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#fd6d44">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/screen.css">
</head>

<body>
  <header class="o-row o-row--md">
    <div class="o-container">
      <div class="c-header">
        <div class="o-layout o-layout--align-center o-layout--justify-start o-layout--align-content-start">
          <div class="o-layout__item u-width-auto">
            <figure class="c-figure">
                <img class="header-img" src="../static/img/Logo_website.png" alt="Main logo">
            </figure>
          </div>
          <div class="o-layout__item u-width-auto">
              <h1 class="c-lead c-lead--xl">
              Easy Wake-Up
            </h1>
          </div>
        </div>
        <div class="c-header__nav">
          <nav class="c-nav">
            <ul class="o-list c-nav__list">
              <li class="c-nav__item"><a href="/" class="c-link-cta">Home</a></li>
              <li class="c-nav__item"><a href="/alarm_clock" class="c-nav__link">Alarm clock</a></li>
              <li class="c-nav__item"><a href="/light" class="c-nav__link">Light</a></li>
              <li class="c-nav__item"><a href="/music" class="c-nav__link">Music</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <div class="o-layout o-layout--align-center o-layout--row-reverse">
        <div class="o-layout__item u-1-of-2-bp3 u-3-of-5-bp4">
          <figure class="c-figure">
            <img src="../static/img/website.png" alt="Main illustration">
          </figure>
        </div>
        <div class="o-layout__item u-1-of-2-bp3 u-2-of-5-bp4">
          <div class="u-max-width-sm">
            <h2 class="c-lead c-lead--xl">
                                Welcome to my project
                            </h2>
            <p class="u-mb-lg u-color-secondary-base">
              For my project I made a Wake-Up clock, I have called this Easy Wake-Up.
              On the image you see a photo of my project.
              The lamp can be switched on / off by hand gesture holding 3 s long before the Easy Wake-Up.
              You can also turn the wake-up clock off when it's playing with the same gesture.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>

